@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
 margin:50px;
 padding:30px;
 max-width:90%;
 font-family: 'Noto Sans', sans-serif;
 font-size: 16px;
 background-color: #F2EFE9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #904E55;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #ffffff;
}

li a:hover {
  background-color: #564E58;
}

h1, {
  color: #904E55;
}

h2, h3, h4, h5 {
  color: #252627;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

.introduction {
  font-style: bold;
  font-size: 70px;
}

#introduction {
  font-size: 40px;
}

.gridAboutMe {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  padding:10px;
}

.gridExtraGum {
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:15px;
  padding:10px;
}

.gridBeyondMeat {
  display:grid;
  grid-template-columns:1fr 2fr;
  gap:15px;
  padding:10px;
}

.gridUmbrellaAcademy {
  display:grid;
  grid-template-columns:1fr 2fr;
  gap:15px;
  padding:10px;
}
img {
  width: 70%;
}

footer{
  height:20px;
  color: #ffffff;
  background-color:#252627;
  padding: 30px;
}
