body {
  color: #222;
  font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

nav{
  display:flex;
  justify-content:space-around;
  background-color:#000001;
  height: 20px;
  padding:10px;
}

a,
a:link,
a:visited {
  color: rgb(244,115,33);
}

a:hover {
  color: rgb(0,80,48);
}

.layout {
  max-width: 960px;
	margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px 200px
  grid-gap: 20px;
  grid-template-areas:
  "header header"
  "nav introduction"
  "geography people-and-society"
  "economy economy"
  "footer footer";
}


@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Syne+Mono&display=swap');

body{
  margin:0 auto;
  max-width:960px;
  font-family: 'Syne Mono', monospace;
}

nav{
  display:flex;
  justify-content:space-around;
  background-color:#000001;
  height: 20px;
  padding:10px;
}

img{
  width:100%;
}

h1{
  text-align:center;
}

a{
  text-decoration:none;
  color:white;
}

.gridAboutBrentFaiyaz{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  padding:20px;
}

.gridCareer{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:20px;
  padding:20px;
}

.gridMusic{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:20px;
  padding:20px;
}

.gridAwardsandRecognition{
  display:grid;
  grid-template-columns: 1fr 300px;
  gap:20px;
  padding:20px;
}

.group1{
  background-color:#824c71;
}

.group2{
  background-color:#dccca3;
}

.group3{
  background-color:#4A2545;
}

.group4{
  background-color:#90aa86;
}

footer{
  height:20px;
  background-color:whitesmoke;
  padding: 30px;
}
